.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 30px 15px 20px;
  }

  .heading-text {
    text-align: left;
  }
  
  .college-logo {
    width: 120px;
    margin-bottom: 10px;
  }
  
  .main-heading {
    font-size: 32px;
    font-weight: 700;
    color: #1e293b;
    margin: 5px 0;
  }
  
  .sub-heading {
    font-size: 18px;
    color: #475569;
    margin-bottom: 20px;
  }
  
  /* Mobile */
  @media (max-width: 480px) {

    .header-container {
      flex-direction: column;   
      text-align: center;
    }
  
    .heading-text {
      text-align: center;
    }

    .college-logo {
      width: 70px;
    }
  
    .main-heading {
      font-size: 24px;
    }
  
    .sub-heading {
      font-size: 15px;
    }
  }
  
